body {
  font-size: 1.5rem;
  min-height: 5000px;

  /* color: white; */
}

:root {
  --pink: #ff0087;
}

#hero::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("image/utama/3.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#hero {
  min-height: 100vh;
  align-items: center;
  position: relative;
}

h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 6rem;
  color: var(--pink);
}

.mynavbar {
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}

.navbar .nav-link {
  text-transform: uppercase;
}

.sticky-top {
  overflow: hidden;
}

.home {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("image/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: -8rem;
}

.home h2,
.story h2,
.info h2,
.galery h2 {
  font-size: 6rem;
  font-family: "Sacramento", cursive;
  color: var(--pink);
}
.home h3 {
  margin-bottom: 20px;
}

.home .couple {
  padding-top: 100px;
}
.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: var(--pink);
}

.info {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.4) !important;
  color: white;
  border: 1px solid white;
}
.info .card .card-footer {
  color: white !important;
  font-size: 1.5rem;
}
.info .card .card-header {
  border-bottom: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info .card .card-body {
  border-bottom: 1px solid white;
}
.story {
  padding-top: 150px;
  padding-bottom: 100px;
}

.story span,
.galery span {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.story .timeline {
  list-style: none;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  position: relative;
}

.story .timeline p,
.galery p {
  font-size: 1.3rem;
}

.story .timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 51%;
  width: 4px;
  background-color: #faeb92;
}
.story .timeline-panel::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -16px;
  margin-top: -250px;
  background-color: #faeb92;
  transform: rotate(45deg);
}

.story li.inverted .timeline-panel::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -16px;
  margin-top: -230px;
  background-color: #faeb92;
  transform: rotate(45deg);
}

.story li .timeline-panel {
  padding: 20px;
  border: 1px solid #ccc;
  width: 40%;
  /* float: left; */
  position: relative;
  background-color: #faeb92;
  border-radius: 10px;
}
.story li.inverted .timeline-panel {
  padding: 20px;
  border: 1px solid #ccc;
  width: 40%;
  float: right;
  border-radius: 10px;
}

/* awal css li tabel */

.story .timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.story .timeline li::before,
.story .timeline li::after {
  content: "";
  display: table;
}

.story .timeline li::after {
  clear: both;
}
/* akhir css li tabel */

.story .timeline li .timeline-image {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aqua;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
}

.galery {
  margin-top: 30px;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.galery img {
  width: 100%;
  margin-top: 10px;
}

.galery .thumbnail {
  background-color: #ff0087;
}

@media (max-width: 578px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 100px 0;
  }

  .navbar .nav-link {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
  }

  .home h2 {
    font-size: 4rem;
  }
  .home h3,
  p {
    font-size: 1.5rem;
  }

  .story {
    padding-top: 70px;
  }

  .story .timeline::before {
    left: 65px;
  }

  .story .timeline li .timeline-image {
    left: 15%;
    width: 120px;
    height: 120px;
    top: 25px;
  }

  .story li .timeline-panel {
    float: right;
    width: calc((100% - 150px));
    left: -6px;
  }

  .story li.inverted .timeline-panel {
    width: calc((100% - 150px));
  }

  .story li.inverted .timeline-panel::after,
  .story .timeline-panel::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -16px;
    margin-top: -150px;
    background-color: #faeb92;
    transform: rotate(45deg);
  }

  .galery .utama {
    width: 100wh !important;
    height: 100vh !important;
  }

  .slider-box {
    border-top-right-radius: 80%;
    overflow: hidden;
  }
  .slider-inverted-box {
    border-top-left-radius: 80%;
    overflow: hidden;
  }

  .slider {
    padding: 100px 0;
    position: relative;
  }

  .slide {
    height: 250px;
  }
  .slide img {
    height: 250px;
  }

  .slider::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url("image/home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .widged-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* PENTING */
  }

  .widged-text {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 2px;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
  }

  /* Ubah durasi & efek transisi */
  .satu {
    transition:
      transform 2.2s ease-in-out,
      opacity 2.2s ease-in-out;
  }

  /* ubah arah carousel */
  /* Membalik arah slide carousel (kiri → kanan) */
  /* Carousel atas: kiri → kanan */
  .reverse-carousel .carousel-item-next:not(.carousel-item-start),
  .reverse-carousel .active.carousel-item-end {
    transform: translateX(-100%);
  }

  .reverse-carousel .carousel-item-prev:not(.carousel-item-end),
  .reverse-carousel .active.carousel-item-start {
    transform: translateX(100%);
  }

  /* fullscreen di hp */
  .lightbox .modal-dialog {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .lightbox .modal-content {
    height: 100%;
    border-radius: 0;
  }

  .lightbox .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lightbox img {
    max-height: 100vh;
    width: auto;
  }
}
